<form action = "/submitPost" method = "POST">
    <input type = "text" id = "postTitle" name = "postTitle" required><br><br>
    <textarea id="postMessage" name="postMessage" rows="4" cols="50" required></textarea><br><br>
    <input type="submit" value = "save"><br><br>
</form>